.hero-section{

  

    //background-size:auto;

    //background-position: center;

    //background-repeat: no-repeat;

    //height: 60vh;

    //display: flex;
	//justify-content:center;

    //align-items: center;

}


.hero-content{

    color: black;

    position: relative;
    z-index: 2;

    padding-bottom: 5px;

}